*, 
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', monospace;  /*set self-named variable */
    --ff-secondary: 'Baloo 2', cursive;

    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #27ffdb;
    
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 0.9rem;
    --fs-body: 1rem;

    --bs:.25em .25em .75em rgba(0,0,0,0.75), 
         0.125em 0.125em 0.25em rgba(0,0,0,.15); /* box shadow */

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.75rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding:5em 2em;
}
img {
    display: block;
    max-width: 100%;
}

p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h4);
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* button */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none; /*no hyperlink decoration*/
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1); /* larger than 0.1 time*/
}



/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin:0
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}



.section__title {
    margin-bottom:.25em;
    
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__subtitle--intro {
    font-weight: var(--fw-reg);
    
}
.section__title--intro strong {
    display: block ;
    letter-spacing: 5px;

}

.section__subtitle {
    margin:0;
    font-size: var(--fs-h3);
    letter-spacing: 1.3px;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom:1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%); /*hidden to the most right place before toggling*/
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
   
.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:initial;
    margin: 0;
    padding: 0 5em;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(60%);

}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }
    
    


/* Intro */


.intro {
    position: relative;

}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto; /*centeralize the intro class*/
        grid-column-gap: 5em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        

    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: 3em;
        width: clac(100% + 0.1em);
    }
}



/* my service */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/monochrome-w.png);
    background-size: cover;
    background-blend-mode: soft-light;
    color: var(--clr-light);
    text-align: center;
    
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 30%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #fff
}
.services {
    display: flex;
    margin-bottom: 3em;
}
.service {
    flex-basis: 25%;
    max-width: 450px;
    margin: 0em auto;

}

@media (min-width: 800px) {
    .services {
        display: flex; /* make <div> 3 columns*/
        max-width: 1000px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;

    }

    .service + .service {
        margin-left: 2em;
    }
}

/* about me  */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
.about-me__img {
    box-shadow: var(--bs);
}


@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
    }
    
    .about-me__img {
        grid-area: img;
    }
}


/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    cursor: pointer;
    transform: scale(1.2);
    opacity: .5;
}



/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: wavy;
}

.social-list {
    list-style: none; /*no dot before each <li>*/
    display: flex; 
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: 0.1em;
}

/* pop up  */


.modal {
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 1100px;
    height:600px;
    max-width: 100%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    color: var(--clr-accent);
    text-shadow: var(--bs);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;   
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* hover overlay */

.text-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.portfolio__item:hover .text-overlay {
    opacity: 1;
}

.text {
    color: var(--clr-dark);
    font-size: var(--fs-h3);
    font-family: 'Syncopate', monospace;
    position: absolute;
    bottom: 100%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* pop up content */
.title:hover{
    transform: scale(1.01);
}
.modal-body a {
    text-decoration: none;
}
.title a{
    text-decoration: none;
    font-size: var(--fs-h1);
    color: var(--clr-dark);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.45);
    font-family: var(--ff-secondary);
    letter-spacing: 1.5px;

}
.title{
    padding-left: 1.5em;
}

.modal__img{
    display: block;
    /* let img horizontally align in the center */
    margin-left: auto;
    margin-right: auto; 
}